html {
  font: 111%/1.45em sans-serif, georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: rgb(5, 5, 40);
}

body {
  color: white;
  font-family: sans-serif, georgia, serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  font-family: sans-serif;
}
.top-navigation{
  text-align: center;
}
.navivation-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 60px;
}
.navivation-li{
  display: inline-block;
  width: 22%;
  
}
.navLinkText{
  display: block;
  color: white;
  text-align: center;
  font-size: 17px;
  font-weight:bold;
  text-transform: uppercase;
  padding: 19px;
  text-decoration: none;
  height: 60px;
}
.navLinkText:hover{

  transform: scale(1.2) translateY(-.225rem);
  transition: transform .3s;
  letter-spacing: 0.07rem;
  font-weight: 600;
}

